input {
    color: whitesmoke; !important;
}

.repo{
    padding-bottom: 3%;
}

.gen-input{
    float: right; !important;
}

.card-panel-card{
	/*background-color: #003D79;*/
	background-color: #003D79;
	
}

.card-panel-result{
	/*background-color: #8583be;*/
	background-color: #686afd;
	overflow: auto
	
}

.card-panel{
	background-color: #003D79;
	overflow: auto
}

.gen-input-small-text{
    padding-left: 5%;
    background-color: gainsboro; !important;
    font-size: small; !important;
    width: 80%; !important;
}
input[type=button]{
    /*color: black;*/
    float: right;
}
.hide-on-med-and-down li a{
    color: #FFF;
	/*color: #003D79*/
}
.hide-on-med-and-down li span{
    color: #FFF;
    /*color: #003D79*/
}

.hr-repos{
    border-color: dodgerblue;
}