.selects{
    color: whitesmoke; !important;
}

.results {
    color: #003D79 !important;
}

.repo{
    padding-bottom: 3%;
}

.gen-input{
    float: right; !important;
}

.card-panel-card{
	/*background-color: #003D79;*/
	background-color: #003D79;
	
}

.card-panel-result{
	/*background-color: #8583be;*/
	background-color: whitesmoke;
	overflow: auto;
    border-radius: 15px;
    padding: 10px;
}

.card-panel{
	background-color: #003D79;
}

.gen-input-small-text{
    padding-left: 5%;
    background-color: gainsboro; !important;
    font-size: small; !important;
    width: 80%; !important;
}
input[type=button]{
    /*color: black;*/
    float: right;
}
.hide-on-med-and-down li a{
    color: #FFF;
	/*color: #003D79*/
}
.hide-on-med-and-down li span{
    color: #FFF;
    /*color: #003D79*/
}

.hr-repos{
    border-color: dodgerblue;
}

.fixed-action-btn-mod {
  position: fixed;
  right: 23px;
  top: 120px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 997;
}